.welcome-text {
  min-width: 470px;
  padding: 0 10px;
  max-width: 45vw;
  max-height: 30vh;
  color: black !important;
  border-radius: 0px !important;
  overflow-y: scroll !important;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);

  scrollbar-width: thin;
  scrollbar-color: #bdc9d9;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f5f9;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #bdc9d9;
    border-radius: 2px;
  }
}
