.welcome-text{
    max-width: 45vw;
    max-height: 30vh;
    color: black !important;
    border-radius: 0px !important;
    overflow: scroll !important;

    &::-webkit-scrollbar{
        display: none !important;
    }
}