@import "rsuite/styles/index.less";
@import "./color.scheme.less";

@enable-dark-mode: true;
@enable-high-contrast: false;
@primary-color2: #000;
@enable-ripple-effect: false;

.rs-theme-dark {
  --rs-body: #292929;
  // --rs-navbar-default-bg: #292929;
  // --rs-sidenav-default-bg: #292929;
  --dashboard-content-background-color: #2f2f2f;
  --dashboard-navbar-border-color: rgba(255, 255, 255, 0.2);
  --dashboard-subcontent-background-color: var(--rs-gray-800);
  --text-info-color: var(--rs-gray-200);
  --card-background-color: "#212529";
  --rs-tooltip-bg: var(--rs-gray-900);
  --available-package-bg-start: #04b6ab;
  --available-package-bg-end: #0a45b8;

  --installed-package-bg-start: #f565d6;
  --installed-package-bg-end: #3e24a5;

  --db-connections-bg-start: #ffcd82;
  --db-connections-bg-end: #ea2121;
}

.rs-theme-light {
  --rs-body: #fefef9;
  // --rs-navbar-default-bg: #fefef9;
  // --rs-sidenav-default-bg: #fefef9;
  --dashboard-content-background-color: #f3f3f3;
  --dashboard-navbar-border-color: rgba(0, 0, 0, 0.2);
  --dashboard-subcontent-background-color: var(--rs-gray-50);
  --text-info-color: var(--rs-gray-800);
  --card-background-color: "#F8F9FA";
  --rs-tooltip-bg: var(--rs-gray-500);
  --available-package-bg-start: #b3bfff;
  --available-package-bg-end: #546fff;

  --installed-package-bg-start: #fdb2ff;
  --installed-package-bg-end: #995aea;

  --db-connections-bg-start: #ffb5b5;
  --db-connections-bg-end: #df6767;
}

.rs-toast-container {
  z-index: 2000;
}
